.white-background { 
    -fx-background-color: #fff;
}


.transparent {
    -fx-background-color: rgba (0,0,0,0);
}

.round-layout {
    -fx-border-radious: 50;
    -fx-border-color: #d7d7d7
}

.selected {
    -fx-background-color: #F3F3F3
}

.mouse-moved:hover {
    -fx-background-color: #e4e4e4;

}

.background {
    -fx-background-color: rgb(219,205,240);
    -fx-background-color: linear-gradient(0deg, rgba(219,205,240,1) 17%, rgba(247,217,196,1) 100%);
}


.example1 {
    button-shadow: 5px 10px;
  }
  
  .example2 {
    button-shadow: 5px 10px #888888;
  }

